<nav role="navigation" id="js-menu" class="sliding-menu-content">
  <ul class="menu-item">
    <li>
      <a class="home" href="{{site.url}}">
        <div class="title">home</div>
      </a>
    {% for link in site.data.navigation %}<li>
      <a href="{{ site.url }}{{ link.url }}">
        <div class="title">{{ link.title }}</div>
      </a>
    </li>{% endfor %}
  </ul>
</nav>
<button type="button" id="js-menu-trigger" class="sliding-menu-button lines-button x2" role="button" aria-label="Toggle Navigation">
  <span class="nav-lines"></span>
</button>

<div id="js-menu-screen" class="menu-screen"></div>
